{% extends "headfoot.html" %}
{% block start %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>This is Index Page </h1>
<a href="/contact/">Contact</a> |
<a href="/about/">About</a>

    <table class="container">
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can vote</th>

        </tr>
        {% for peopal in person %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{peopal.name}}</td>
            <td>{{peopal.Age}}</td>
            <td {% if peopal.Age < 18 %} style="background-color: red;" {% endif %}>
                {% if peopal.Age > 18 %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>

